*{
	box-sizing: border-box;
}

h1{
	font-size: 50px;
	text-align: center;
}

#main-content .row div p {
 
	
}

#collapsable {
	clear: left;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}




@media (min-width: 992px) and (max-width: 1199px){
.row div {
	position: relative;
	background-clip: content-box;
	background-color: gray;
	height:200px;
	overflow: hidden;
}
.row div p{
	margin: 0 auto;
	position: absolute;
    bottom:0;
    left: 0;
    right:0;
    padding-left: inherit;
    padding-right: inherit;
}
}


@media (min-width: 768px) and (max-width: 991px) {
	#main-content .row div:nth-child(3){
		clear:left;

	}

}

@media (max-width: 767px) {
}